<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Add a account</h3>
  <form action="/accounts/add" method="post">

    {{! Title Input }}
    <!--
    <div class="mb-3">
      <label for="title">Write a title:</label>
      <input
        id="title"
        class="form-control rounded-0 bg-dark text-white"
        type="text"
        name="title"
        placeholder="Title"
        autofocus
      />
    </div>
-->
    {{! Description Input }}
    <div class="mb-3">
      <label for="description">Account type</label>
      <textarea
        class="form-control rounded-0 bg-dark text-white"
        name="accountType"
        cols="80"
        placeholder="Add a account type"
      ></textarea>
    </div>

     <div class="mb-3">
      <label for="description">Number account</label>
      <textarea
        class="form-control rounded-0 bg-dark text-white"
        name="accountNumber"
        cols="80"
        placeholder="Add a number account"
      ></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Add</button>
  </form>
</div>