<div class="container-fluid">
  <div class="row">
    {{#if admin}}
    <h1>Hola {{user.username}}</h1>
    <h2>Eres usuario ADMIN</h2>
    <div class="col-md-3 pr-2">
      {{> accounts/accountForm }}
    </div>
    <div id="showUsers" class="col-sm-9">
      {{>accounts/usersTable}}
    </div>
   
    <div id="showAccounts" class="col-md-9" style="display:none">
      {{> accounts/accountTable }}
    </div>
     <div class="col-md-9 p-5">
      {{> accounts/usersTableLog}}
    </div>
    {{/if}}
     <div>
</div>
<!--
<button onclick="myFunction()">Clickeame</button>

<div id="myDIV" style="border:1px solid black;">
  Este elemento aparece y desaparece con el botón
</div>
</div>
-->
