<div class="container p-5">
  <div class="row">

    <div class="col-md-5">
      {{> accounts/accountForm }}
    </div>

    <div class="col-md-7">
      {{> accounts/accountTable }}
    </div>
  </div>
</div>