<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand">Sucursal virtual banco de la tierra. </a>
    <ul class="navbar-nav  list-group-horizontal">
       {{#if user}}
       {{#if admin}}
         <li class="mr-4">
            <a class="nav-link" onclick="showAccounts()">Cuentas</a>
          </li>
           <li>
            <a class="nav-link" onclick="showUsers()">Users</a>
          </li>
         <li>
            <a class="nav-link" href="/api/auth/signup">Register</a>
          </li>
          {{/if}}
           <li class="nav-item">
            <a class="nav-link" href="/api/auth/logout">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/api/auth/signin">Login</a>
          </li>
         
        {{/if}}
      </ul>
  </div>
</nav>